input.msg[type=text] {
	width: 80%;
	height: 100px;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

textarea.msg {
	height: 400px;
	width: 800px;
}

div.msg {
	width: 800px;
	border-style: solid;
	border-width: 1px;

	white-space: pre-wrap;

}
