{% extends "base.html" %}
{% block content %}

<div class="container">
	<form id="msg_form" action="{{url_for('encrypt')}}" method="POST">
		<div class="form-group">
			<label for="msg">Type your note here:</label>
			<textarea class="form-control" rows="15" id="msg" name="message" form="msg_form"></textarea>
		</div>
		<div class="form-group row">
			<div class="col-xs-3">
				<label for="password1">Choose a password:</label>
				<input type="password" class="form-control" name="password" id="password1"> 
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-3">
				<label for="password2">Re-enter password:</label>
				<input type="password" class="form-control" id="password2">
			</div>
		</div>
		<button type="submit" class="btn btn-default">Encrypt!</button>
	</form>
	<p id='pw_err' hidden style="color:red">Passwords do not match!</p>
</div>

{%endblock%}

{%block scripts%}

<script>
$(function(){
	$('#password1,#password2').keyup(function(){
		if ($('#password1').val() != $('#password2').val()){
			$('#pw_err').attr('hidden',false);
			$(':submit').attr('disabled',true);
		}
		else{
			$('#pw_err').attr('hidden',true);
			$(':submit').attr('disabled',false);
		}
	});
});

</script>

{% endblock %}
